.subscription {
  text-align: center;
  margin-top: 60px;
  @include tablet {
    margin-top: 60px;
  }
  @include desktop {
    margin-left: 70px;

    margin-top: 0;
    text-align: center;
  }
}
.subscription--position {
  @include desktop {
    margin-left: 93px;

    position: relative;
  }
}
.subscription__form {
  @include desktop {
    display: flex;
    justify-content: center;
  }
}

.subscription__input-email {
  width: 100%;
  margin-bottom: 20px;
  @include tablet {
    width: 450px;
  }
  @include desktop {
    width: 358px;
    margin-bottom: 0px;
  }
  height: 50px;
  background: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscription__icon {
  fill: currentColor;
  margin-left: 12px;
}

.subscription__button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  @include desktop {
    margin-left: 12px;
    margin-right: 0;
  }
}
