.work {
  display: flex;
  column-gap: 30px;
  @extend %list;
  &__thumb {
    position: relative;
  }
  &__label {
    position: absolute;
    width: 100%;
    min-height: 70px;
    bottom: 0;

    text-align: center;
    padding-top: 27px;

    background-color: rgba(47, 48, 58, 0.8);
    color: var(--accent-white-color);
    text-transform: uppercase;
    @include font(700, null, 1.14, null);
  }
}

/* .work .item {
  display: flex;
} */
