.header {
  &--border-bottom {
    border-bottom: 1px solid #ececec;
  }
}
.header__container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

// @media screen and (max-width: 767px) {
//   .navigation {
//     display: none;
//   }
// }
// @media screen and (max-width: 767px) {
//   .contacts {
//     display: none;
//   }
// }
.navigation__list {
  display: flex;
  color: var(--title-text-color);
  & .navigation__item {
    background-color: transparent;
  }
  & .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    @include font(500, null, 1.14, 0.02em);

    transition-property: color;
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--animation-timing-function);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    &.navigation__link--current {
      color: var(--accent-color);
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;

        display: block;
        width: 100%;
        height: 4px;

        background-color: var(--accent-color);
        border-radius: 2px;
      }
    }
  }
  @extend %list;
}

.contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }
  display: flex;
  margin-left: auto;
  &__item + .contacts__item {
    margin-left: 50px;
  }
  &__link {
    color: var(--primary-text-color);
    @include font(500, null, 1.14, 0.02em);
    transition-property: color;
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--animation-timing-function);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  @extend %list;
}

.contacts__icon {
  /* background-color: tomato; */
  fill: var(--primary-text-color);
  margin-right: 10px;
  .contacts__link:hover &,
  .contacts__link:focus & {
    fill: var(--accent-color);
  }
}
// Мобільне меню

.menu-btn__icon {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
