.header {
  &--border-bottom {
    border-bottom: 1px solid #ececec;
  }
}
.header__container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.navigation__list {
  display: flex;
  color: var(--title-text-color);
  & .navigation__item {
    background-color: transparent;
  }
  & .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    @include font(500, null, 1.14, 0.02em);

    transition-property: color;
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--animation-timing-function);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    &.navigation__link--current {
      color: var(--accent-color);
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;

        display: block;
        width: 100%;
        height: 4px;

        background-color: var(--accent-color);
        border-radius: 2px;
      }
    }
  }
  @extend %list;
}

.contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    flex-direction: column;
  }
  display: flex;
  margin-left: auto;
  &__item + .contacts__item {
    margin-left: 50px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-left: 0;
    }
  }
  &__link {
    color: var(--primary-text-color);
    @include font(500, null, 1.14, 0.02em);
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      @include font(500, 12px, 1.17, 0.02em);
    }
    transition-property: color;
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--animation-timing-function);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  @extend %list;
}

.contacts__icon {
  /* background-color: tomato; */
  fill: var(--primary-text-color);
  margin-right: 10px;
  .contacts__link:hover &,
  .contacts__link:focus & {
    fill: var(--accent-color);
  }
}
// Мобільне меню

.menu-btn-open {
  display: inline-flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  @include tablet {
    display: none;
  }
}

.container-mob {
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include mobile {
    width: 480px;
  }
}
.mob-menu {
  position: fixed;
  background-color: #fff;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  transition: var(--animation-duration) var(--animation-timing-function);
}
.menu-btn-close {
  position: absolute;
  top: 10px;
  right: 15px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: fill var(--animation-duration) var(--animation-timing-function);
  &:hover,
  &:focus {
    cursor: pointer;
    fill: var(--accent-color);
  }
}
.menu-btn__icon {
  color: var(--title-text-color);
}
.mob-menu__navigation {
  color: var(--title-text-color);
}
.mob-menu__list {
  margin-bottom: auto;
  @extend %list;
}
.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-menu__link {
  @include font(500, 40px, 1.18, 0.02em);
  color: var(--title-text-color);
}
.mob-menu__link--current {
  color: var(--accent-color);
}
.mob-contacts {
  margin-bottom: 64px;
  @extend %list;
}
.mob-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-contacts__link {
  @include font(500, 24px, 1.17, 0.02em);
  color: var(--primary-text-color);
}
.mob-contacts__link--color {
  @include font(500, 34px, 1.18, 0.02em);
  color: var(--accent-color);
}
.mob-soc {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;

  @extend %list;
}
.mob-soc__item {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  &:last-child {
    border-right: none;
  }
}
.mob-soc__link {
  @include font(500, 18px, 1.22, 0.02em);
  color: var(--accent-color);
}
