.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  @extend %list;
}
.team__item {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 90px) / 4);
  }
  // width: calc((100% - 90px) / 4);
  // background: #ffffff;
  // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  //   0px 2px 1px rgba(0, 0, 0, 0.2);
  // border-radius: 0px 0px 4px 4px;
}
.team__info {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: auto;
  padding-right: auto;
}

.team__title {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  color: var(--title-text-color);
  @include font(500, 16px, 1.19, null);
}
.team__text {
  display: flex;
  margin-bottom: 16px;
  justify-content: center;
  @include font(null, 16px, 1.19, null);
}
